<!-- include header -->
<%- include('../partials/_header') %>

<section class="container">

    <h1 class="mb-2">Sign In</h1>
    <form action="/auth/signin" method="POST" class="card">
        <div class="card-body">
            <div class="mb-2">

                <label for="user_id">Username</label>
                <input id="user_id" name="user_id" required class="input" />

            </div>
            <div class="mb-2">

                <label for="password">Password</label>
                <input id="password" name="password" type="password" required class="input" />

            </div>
        <button class="btn" type="submit">Sign In</button>
        <a class="btn btn-secondary" href="/auth/signup">Create an account</a>
        </div>
    </form>
</section>

<!-- include footer -->
<%- include('../partials/_footer') %>
