</main>
	<footer class="site-footer">
    	<div class="container">

      	<!--EJS escape tag to display data-->
      	<p>&copy; <%= new Date().getFullYear() %> Web Blog Application. Built with Express + EJS.</p>
    	</div>
  	</footer>
  
 	 <!--bundle with main.js-->
  	<script src="/js/main.js"></script>
</body>
</html>