<!--render header and title-->
<%- include('partials/_header', { title: 'Not Found' }) %>

	<!--display not found information-->
	<h1>404 — Not Found</h1>
	<p>The page you requested doesn’t exist.</p>
	<p><a href="/">Go back home</a></p>
	
<!--render footer-->
<%- include('partials/_footer') %>